# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*


# Logs
logs
*.log
log.txt

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Sequelize CLI folders (if using migrations or seeders)
migrations/
seeders/

# Build output (optional, if using TypeScript or Babel)
dist/
build/
